<div class="form-group has-feedback" show-errors>
    <label for="ItemName">Name</label>
    <input type="text" class="form-control" id="ItemName" name="ItemName" ng-model="ProjectSvc.item.name" required>
    <span ng-show="projectForm.$submitted || projectForm.ItemName.$touched" class="form-control-feedback"
          ng-class="!projectForm.ItemName.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
          aria-hidden="true"></span>
</div>
<div class="form-group has-feedback">
    <label for="ItemType">Type</label>
    <select class="form-control" id="ItemType" ng-model="ProjectSvc.item.type">
        <option ng-repeat="type in AppConst.project.types"
                ng-value="type.id"
                ng-bind-html="type.title | unsafe"
                ng-selected="ProjectSvc.item.type==type.id"></option>
    </select>
</div>
<div class="form-group has-feedback">
    <label for="ItemTags">Tags</label>
    <tags-input id="ItemTags" ng-model="ProjectSvc.item.tags" placeholder="Add tag" min-length="1">
        <auto-complete source="TagSvc.searchTag($query)"></auto-complete>
    </tags-input>
</div>
<div class="form-group">
    <label for="ItemDescription">Description</label>
                <textarea type="text" class="form-control" id="ItemDescription"
                          ng-model="ProjectSvc.item.description"></textarea>
</div>