[submodule "mock"]
	path = mock
	url = https://github.com/EndyKaufman/django-postgres-angularjs-blog-mock.git
[submodule "front"]
	path = front
	url = https://github.com/EndyKaufman/django-postgres-angularjs-blog-front.git
