[submodule "mock"]
	path = mock
	url = git@github.com:EndyKaufman/django-postgres-angularjs-blog-mock.git
[submodule "front"]
	path = front
	url = git@github.com:EndyKaufman/django-postgres-angularjs-blog-front.git
