backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.4.1
boto==2.38.0
certifi==2015.11.20.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.9.6
django-jsonview==0.5.0
django-seo-js==0.3.1
django-storages==1.1.8
django-toolbelt==0.0.1
gunicorn==19.4.1
lorem-ipsum-generator==0.3
pkg-resources==0.0.0
psycopg2==2.6.1
requests==2.2.1
singledispatch==3.4.0.3
six==1.10.0
static3==0.6.1
tornado==4.3
transliterate==1.7.6
whitenoise==2.0.6
