<div class="container" ng-init="ProjectSvc.initEmptyItem()">
    <div class="page-header">
        <h1>
            <span>Create project</span>
        </h1>
    </div>
    <form name="projectForm">
        <div class="row">
            <div class="col-md-9">
                <div ng-include="'views/project/inputs/central.html'"></div>
                <div>
                    <button ng-click="ProjectSvc.doCreate(ProjectSvc.item)" class="btn btn-success" ng-disabled="!projectForm.$valid">Create</button>
                    <button ng-click="ProjectSvc.doAddImage()" class="btn btn-primary pull-right">Add image
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div ng-include="'views/project/inputs/right.html'"></div>
            </div>
        </div>
    </form>
</div>