<div class="col-md-8 padding-left-15">
    <img ng-src="{{AppConfig.static_url+ProjectSvc.item.images[0].srcStatic}}" ng-if="ProjectSvc.item.images.length==1"
         class="img-responsive">
    <div ng-if="ProjectSvc.item.images.length>1">
        <div data-nq-carousel="">
            <div data-carousel-item="" ng-repeat="image in ProjectSvc.item.images">
                <!--h3 class="carousel-title" nf-if="image.title!=''"
                    ng-bind-html="image.title | unsafe"></h3-->
                <img ng-src="{{AppConfig.static_url+image.srcStatic}}">
                <div class="carousel-caption" nf-if="image.description!=''">
                    <h4 ng-bind-html="image.description | unsafe"></h4>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="ProjectSvc.item.images.length==0" class="lead">
        <div ng-if="ProjectSvc.item.type==1 && ProjectSvc.item.text">
            <p ng-bind-html="ProjectSvc.item.text | unsafe"></p>
        </div>
        <div ng-if="ProjectSvc.item.type==2 && ProjectSvc.item.html">
            <p ng-bind-html="ProjectSvc.item.html | unsafe"></p>
        </div>
        <div ng-if="ProjectSvc.item.type==3 && ProjectSvc.item.url">
            <p ng-bind-html="ProjectSvc.item.url | unsafe"></p>
        </div>
        <div ng-if="ProjectSvc.item.type==4 && ProjectSvc.item.markdown">
            <markdown extensions="github, table, twitter" strip="true" allow-html="true"
                      ng-model="ProjectSvc.item.markdown">
            </markdown>
        </div>
    </div>
</div>
<div class="col-md-4 padding-left-15">
    <h2>Description</h2>
    <p class="lead">
        <span ng-bind-html="ProjectSvc.item.description | unsafe"></span>
    </p>
    <h2>Tags</h2>
    <p class="lead">
        <span ng-repeat="tag in ProjectSvc.item.tags">
            <a ng-href="{{'#/tag/'+tag.text}}" class="btn btn-md btn-default"
               ng-bind-html="tag.text | unsafe"></a>
        </span>
    </p>
</div>
<div class="col-md-12 padding-left-15 lead" ng-if="ProjectSvc.item.images.length!=0">
    <br/>
    <div ng-if="ProjectSvc.item.type==1 && ProjectSvc.item.text">
        <p ng-bind-html="ProjectSvc.item.text | unsafe"></p>
    </div>
    <div ng-if="ProjectSvc.item.type==2 && ProjectSvc.item.html">
        <p ng-bind-html="ProjectSvc.item.html | unsafe"></p>
    </div>
    <div ng-if="ProjectSvc.item.type==3 && ProjectSvc.item.url">
        <p ng-bind-html="ProjectSvc.item.url | unsafe"></p>
    </div>
    <div ng-if="ProjectSvc.item.type==4 && ProjectSvc.item.markdown">
        <markdown extensions="github, table, twitter" strip="true" allow-html="true"
                  ng-model="ProjectSvc.item.markdown">
        </markdown>
    </div>
</div>