<div class="container">
    <div class="page-header">
        <h1 class="hidden-sm hidden-md hidden-lg">
            <span ng-bind-html="ProjectSvc.item.title | unsafe"></span>
            <a ng-href="{{'#/project/update/'+ProjectSvc.item.name}}"
               class="btn btn-primary" ng-if="AccountSvc.isAdmin()">Edit</a>
        </h1>
        <h1 class="hidden-xs">
            <span ng-bind-html="ProjectSvc.item.title | unsafe"></span>
            <a ng-href="{{'#/project/update/'+ProjectSvc.item.name}}"
               class="btn btn-primary" ng-if="AccountSvc.isAdmin()">Edit</a>
        </h1>
    </div>
    <div class="row">
        <div ng-include="'views/project/item-view.html'"></div>
    </div>
</div>