<div class="container">
    <div class="page-header">
        <h1>
            <span>Edit project</span>
            <a ng-href="{{AppConst.project.urls.url+'/'+ProjectSvc.item.name}}"
               class="btn btn-default">View</a>
        </h1>
    </div>
    <form name="projectForm">
        <div class="row">
            <div class="col-md-9">

                <div ng-include="AppConst.project.templates.inputs.central"></div>
                <div>
                    <button ng-click="ProjectSvc.doUpdate(ProjectSvc.item)" class="btn btn-success" ng-disabled="!projectForm.$valid">Update</button>
                    <button ng-click="ProjectSvc.doDelete(ProjectSvc.item)" class="btn btn-danger">Delete project
                    </button>
                    <button ng-click="ProjectSvc.doAppendImage()" class="btn btn-primary pull-right">Append image
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div ng-include="AppConst.project.templates.inputs.right"></div>
            </div>
        </div>
    </form>
</div>