<div class="container">
    <div class="page-header">
        <h1>
            <span>Edit project</span>
            <a ng-href="{{'#/project/'+ProjectSvc.item.name}}"
               class="btn btn-info">View</a>
        </h1>
    </div>
    <form name="projectForm">
        <div class="row">
            <div class="col-md-9">
                <div ng-include="'views/project/inputs/central.html'"></div>
                <div>
                    <button ng-click="ProjectSvc.doUpdate(ProjectSvc.item)" class="btn btn-success" ng-disabled="!projectForm.$valid">Update</button>
                    <button ng-click="ProjectSvc.doDelete(ProjectSvc.item)" class="btn btn-danger">Delete project
                    </button>
                    <button ng-click="ProjectSvc.doAddImage()" class="btn btn-primary pull-right">Add image
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div ng-include="'views/project/inputs/right.html'"></div>
            </div>
        </div>
    </form>
</div>