<div class="jumbotron-contents" ng-if="item.type==1">
    <h2 ng-bind-html="item.title | unsafe"></h2>
    <p ng-bind-html="item.text | unsafe"></p>
</div>
<div class="jumbotron-contents" ng-if="item.type==2">
    <h2 ng-bind-html="item.title | unsafe"></h2>
    <p ng-bind-html="item.html | unsafe"></p>
</div>
<div class="jumbotron-contents" ng-if="item.type==3">
    <h2 ng-bind-html="item.title | unsafe"></h2>
    <p ng-bind-html="item.url | unsafe"></p>
</div>
<div class="jumbotron-contents" ng-if="item.type==4">
    <h2 ng-bind-html="item.title | unsafe"></h2>
    <p ng-bind-html="item.markdown | unsafe"></p>
</div>