<div class="container">
    <div class="page-header">
        <h1>Login on site</h1>
    </div>
    <p class="lead">Please enter you email address and password for login on site <code>(admin@email.com,
        user@email.com, author@email.com)</code></p>
    <p>
    <div class="row">
        <div class="col-sm-4">
            <form ng-submit="AccountSvc.doLogin(email, password)" name="accountForm">
                <div class="form-group has-feedback" show-errors>
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="email"
                           ng-model="email" required>
                    <span ng-show="accountForm.$submitted || accountForm.email.$touched" class="form-control-feedback"
                          ng-class="!accountForm.email.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                          aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback" show-errors>
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="password"
                           ng-model="password" required>
                    <span ng-show="accountForm.$submitted || accountForm.password.$touched" class="form-control-feedback"
                          ng-class="!accountForm.password.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                          aria-hidden="true"></span>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="!accountForm.$valid">Login</button>
            </form>
        </div>
    </div>
    </p>
    <p>If you lose password please click to <a ng-href="#/recovery">recovery password</a></p>
    <p>For registration on site use <a ng-href="#/reg">registration form</a></p>
</div>