<div class="container">
    <div class="page-header">
        <h1>Reset password</h1>
    </div>
    <p class="lead">Please enter code from email and new password for you account</p>
    <p>
    <div class="row">
        <div class="col-sm-4">
            <form ng-submit="AccountSvc.doResetpassword(code, password)" name="accountForm" ng-init="code=AccountSvc.resetpasswordCode">
                <div class="form-group has-feedback" show-errors>
                    <label for="code">Code:</label>
                    <input type="text" class="form-control" name="code" id="code" placeholder="code from email"
                           ng-model="code" required>
                    <span ng-show="accountForm.$submitted || accountForm.code.$touched" class="form-control-feedback"
                          ng-class="!accountForm.code.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                          aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback" show-errors>
                    <label for="password">New password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="new password"
                           ng-model="password" required>
                    <span ng-show="accountForm.$submitted || accountForm.password.$touched" class="form-control-feedback"
                          ng-class="!accountForm.password.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                          aria-hidden="true"></span>
                </div>
                <button type="submit" class="btn btn-success" ng-disabled="!accountForm.$valid">Save password and login
                    on site
                </button>
            </form>
        </div>
    </div>
</div>