<div class="container">
    <div class="page-header">
        <h1>Tag: <span ng-bind-html="TagSvc.tagText | unsafe"></span></h1>
    </div>
    <div>
        <div class="row">
            <div class="col-md-9 padding-left-0">
                <div ng-repeat="allItem in TagSvc.allList">
                    <p class="lead padding-left-15">Place: <a ng-bind-html="AppConst[allItem.name].strings.title | unsafe"
                                              ng-href="{{AppConst[allItem.name].urls.url}}"></a></p>
                    <div ng-include="AppConst.tag.templates.list.item"></div>
                </div>
            </div>
            <div class="col-md-3 padding-left-0">
                <p class="lead">Tags</p>
                <div ng-include="AppConst.tag.templates.list.tags"></div>
            </div>
        </div>
    </div>
</div>