<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="{{NavbarSvc.homeUrl}}"
               ng-if="!NavbarSvc.brand.hidden" ng-bind-html="NavbarSvc.brand.title | unsafe"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-if="NavbarSvc.items.left.length>0">
                <li ng-repeat="item in NavbarSvc.items.left" ng-if="!item.hidden"
                    ng-class="item.active==true ? 'active' : ''">
                    <a ng-href="{{item.url}}" ng-bind-html="item.title | unsafe"></a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search" name="searchForm" ng-if="!NavbarSvc.items.search.hidden"
                  novalidate>
                <div class="form-search search-only">
                    <div class="input-group">
                        <input type="text" class="form-control search-query"
                               placeholder="{{NavbarSvc.items.search.placeholder}}" ng-model="SearchSvc.searchText"
                               ng-enter="SearchSvc.doSearch(SearchSvc.searchText)" required/>
                        <span class="input-group-btn">
                            <button ng-click="SearchSvc.doSearch(SearchSvc.searchText)" class="btn btn-primary" type="button" ng-disabled="!searchForm.$valid">
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right" ng-if="NavbarSvc.items.right.length>0">
                <li ng-repeat="item in NavbarSvc.items.right" ng-if="!item.hidden"
                    ng-class="item.active==true ? 'active' : ''">
                    <a ng-href="{{item.url}}" ng-bind-html="item.title | unsafe"></a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>