<div class="jumbotron-photo" ng-if="item.images.length>0">
    <div id="{{'carousel-'+item.name}}" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" ng-if="item.images.length>1">
            <li ng-repeat="image in item.images" data-target="{{'#carousel-'+item.name}}"
                data-slide-to="{{$index}}" ng-class="$index==0?'active':''"></li>
        </ol>{{AppConfig.static_url}}
        <div class="carousel-inner">
            <div ng-repeat="image in item.images" class="item" ng-class="$index==0?'active':''"><img
                    ng-src="{{AppConfig.static_url+image.src}}"></div>
        </div>
        <a ng-click="CaruselSvc.prev('#carousel-'+item.name)" class="left carousel-control"
           data-slide="prev" ng-if="item.images.length>1">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a ng-click="CaruselSvc.next('#carousel-'+item.name)" class="right carousel-control"
           data-slide="next" ng-if="item.images.length>1">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>